* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

input, button {
	padding: 10px;
	font-size: 20px;
	margin: 0 10px;
}

.main-form {
	border: 2px solid black;
	padding: 18px;
	margin: 18px 0;
}

.profile {
	border: 2px solid cornflowerblue;
	padding: 18px;
	margin: 18px 0;
}

.btn {
	border: 2px solid red;
	padding: 18px;
	margin: 18px 0;
}

.text-field {
	border: 2px solid orange;
	padding: 18px;
	margin: 18px 0;
}

.repos-list {
	border: solid 2px blue;
	padding: 18px;
	margin: 18px 0;
}

.form {
	border: 2px solid pink;
	padding: 18px;
	margin: 18px 0;
}

.forks {
	border: 2px solid magenta;
	padding: 18px;
	margin: 18px 0;
}

.pull-requests {
	border: 2px solid purple;
	padding: 18px;
	margin: 18px 0;
}
